div#titre
{
display:flex;
display: flex;
flex-direction: column;
align-items: center;
}

div#formulaire
{
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
}

form
{
    display: flex;
    flex-direction: column;
}

input
{
    margin-bottom: 10px;
}

button
{
    width: 30%;
    margin-top: 10px;
}

div#button
{
    display:flex;
    justify-content: end;
}

.icone-reveal 
{
    margin-left: -30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.icone-reveal2
{
    margin-left: -30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

input#password
{
    width: 96%;
}
input#Password
{
    width: 96%;
}